# source file related
*.pyc
*.o



*.so
*.egg
*.egg-info



# training related
*.log
*.pth
*.pt
*.model
*.0

# result related
answers/
ckpt/
ckpt3d/

*.jsonl
*.txt

# assets related
data
datasets
model_zoo
images

planner
# package related
